{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/img/LOGO_CARWASH.ico' %}" type="image/x-icon">
    <title>Редактирование клиента</title>
    <link rel="stylesheet" href="{% static 'main/css/clients_change.css' %}">
</head>
<body style="background-image: url('{% static 'main/img/background1.jpeg' %}');">
    <header>
        <div class="header">
            <img src="{% static 'main/img/logo.png' %}" alt="Логотип" class="logo">
        </div>
    </header>
    
    <h1 class="clients-title">Редактирование клиента</h1>
    
    <form method="POST" class="client-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button type="submit" id="save-button" class="save-button">Сохранить</button>
            <a href="{% url 'clients' %}" class="back-button">Отмена</a>
        </div>
    </form>

    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>
