{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/img/LOGO_CARWASH.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>GLAMOUR CAR</title>
</head>
<body style="background-image: url('{% static 'main/img/background.jpeg' %}');">
    <header>
        <div class="header">
            <img src="{% static 'main/img/logo.png' %}" alt="Логотип" class="logo">
        </div>
    </header>
    <div class="slogan-container">
        <h1 class="slogan">Идеальная чистота:<br> наша автомойка - ваш<br> выбор номер один.</h1>
    </div>
        
    <div class="button-container">
        <button id="pricelist-button" class="price-button">Прейскурант</button>
        <button id="sale-button" class="sale-button">Скидки</button>
    </div>
    <a href="zapisi/" class="button-image" style="top: 70px; background-image: url('{% static 'main/img/button-background.jpg' %}');">
        <span class="button-text">Записи</span>
        <span class="arrow">→</span>
    </a>
    <a href="moihiki/" class="button-image" style="top: 270px; background-image: url('{% static 'main/img/button-background-2.jpg' %}');">
        <span class="button-text">Мойщики</span>
        <span class="arrow">→</span>
    </a>
    <a href="clients/" class="button-image" style="top: 470px; background-image: url('{% static 'main/img/button-background-3.jpg' %}');">
        <span class="button-text">Клиенты</span>
        <span class="arrow">→</span>
    </a>
    <!-- Изображение с ценами -->
    <div id="pricelist-popup" class="hidden"> 
        <img src="{% static 'main/img/prices.jpg' %}" alt="Прейскурант">
        <button id="close-popup" class="price-button-close">Закрыть</button>
    </div>
    <!-- Контейнер для картинки со скидками -->
    <div id="sale-popup" class="hidden"> 
        <img id="sale-image" src="{% static 'main/img/sale.jpg' %}" alt="Скидки">
        <button id="close-sale-popup" class="sale-button-close">Закрыть</button>
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>


