{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Записи</title>
    <link rel="stylesheet" href="{% static 'main/css/zapisi.css' %}">
</head>
<body style="background-image: url('{% static 'main/img/background1.jpeg' %}');">
    <header>
        <div class="header">
            <img src="{% static 'main/img/logo.png' %}" alt="Логотип" class="logo">
        </div>
    </header>

    <h1 class="zapisi-title">Записи</h1>

    <!-- Список записей -->
    <ul class="zapisi-list">
        {% for zapis in zapisi %}
            <li>
                <span>Клиент: {{ zapis.client.name }}</span> -
                <span>Мойщик: {{ zapis.moihik.name }}</span> -
                <span>Дата: {{ zapis.date }}</span> -
                <span>Услуга: {{ zapis.service_type }}</span>
                <a href="{% url 'zapisi_change' zapis.id %}" class="edit-button">Редактировать</a>
            </li>
        {% empty %}
            <li>Записей нет.</li>
        {% endfor %}
    </ul>

    <div class="button-container">
        <a href="{% url 'zapisi_change' 0 %}" class="change-button">Добавить новую запись</a>
        <a href="/" class="back-button">Отмена</a>
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>
